/node_modules/
/vendor/
/.env
/public/uploads/*
!/public/uploads/.gitkeep
!/public/uploads/.htaccess
/public/uploads/products/*
!/public/uploads/products/.gitkeep
!/public/uploads/products/.htaccess
.phpunit.result.cache
/storage/.installed
/storage/logs/*
!/storage/logs/.gitkeep
/storage/backups/*
!/storage/backups/.gitkeep
/storage/reports/*
!/storage/reports/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
.DS_Store
